* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}


a {
    color: inherit;
    text-decoration: none;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background: #0f0f0f;

    font-family: 'Poppins', sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
}




.shooting-star {
    position: fixed;
    width: 120px;
    height: 2px;

    background: linear-gradient(90deg, white, transparent);

    pointer-events: none;
    z-index: -1;

    animation: shoot linear infinite;
}



.shooting-star:nth-of-type(2) {
    top: 10%;
    animation-duration: 2s;
    animation-delay: 0s;
}

.shooting-star:nth-of-type(3) {
    top: 20%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.shooting-star:nth-of-type(4) {
    top: 35%;
    animation-duration: 4s;
    animation-delay: 2s;
}

.shooting-star:nth-of-type(5) {
    top: 50%;
    animation-duration: 2.5s;
}

.shooting-star:nth-of-type(6) {
    top: 65%;
    animation-duration: 3.5s;
}

.shooting-star:nth-of-type(7) {
    top: 75%;
    animation-duration: 5s;
}

.shooting-star:nth-of-type(8) {
    top: 85%;
    animation-duration: 2.2s;
}

.shooting-star:nth-of-type(9) {
    top: 40%;
    animation-duration: 3.8s;
}

.shooting-star:nth-of-type(10) {
    top: 15%;
    animation-duration: 4.2s;
}

@keyframes drift {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


.stars {
    position: fixed;
    inset: 0;


    width: 5px;
    height: 5px;
    border-radius: 50%;

    background: white;

    pointer-events: none;
    z-index: -1;

    box-shadow:

        2vw 5vh 2px white,
        10vw 8vh 2px white,
        15vw 15vh 1px white,
        22vw 22vh 1px white,
        28vw 12vh 2px white,
        32vw 32vh 1px white,
        38vw 18vh 2px white,
        42vw 35vh 1px white,
        48vw 25vh 2px white,
        53vw 42vh 1px white,
        58vw 15vh 2px white,
        63vw 38vh 1px white,
        68vw 10vh 1px white,
        72vw 28vh 2px white,
        78vw 5vh 1px white,
        82vw 40vh 2px white,
        90vw 20vh 1px white,
        95vw 30vh 2px white,

        10vw 70vh 2px white,
        20vw 80vh 1px white,
        30vw 85vh 2px white,
        40vw 90vh 1px white,
        55vw 75vh 2px white,
        65vw 88vh 1px white,
        75vw 82vh 2px white,
        85vw 95vh 1px white,
        95vw 70vh 2px white;




    animation: twinkle 8s linear infinite,
        drift 12s ease-in-out infinite;
}

.stars::after {
    content: "";
    position: absolute;
    inset: 0;

    width: 1px;
    height: 1px;
    background: white;

    box-shadow:
        8vw 12vh 2px white, 16vw 18vh 1px white,
        24vw 25vh 2px white, 33vw 15vh 1px white;

    animation: twinkle 6s infinite linear reverse;
}







header {
    position: relative;
    top: 0;
    z-index: 1000;
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(12px);
    padding: 15px 50px;
}

.nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    height: 50px;
    width: auto;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 0.75;
    transition: 0.2s;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.25s;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.nav-link.active {
    opacity: 1;
}

.nav-cart-count {
    background: white;
    color: black;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 5px;
}


main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
}

.products-actions {
    display: flex;
    justify-content: center;

    margin: 20px 0 40px;
}

.add-product-btn {
    padding: 12px 20px;

    border-radius: 12px;

    background: linear-gradient(135deg, #4CAF50, #3e8e41);
    color: white;

    font-weight: 600;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

    transition: 0.25s;
}

.add-product-btn:hover {
    transform: scale(1.05);
}

.delete-mode-btn {
    margin-left: 15px;

    padding: 12px 20px;

    background: rgba(255, 80, 80, 0.1);
    color: #ff5c5c;

    border-radius: 12px;

    transition: 0.2s;
}

.content {
    display: block;
}

.app-output {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}



.product-page {
    display: grid;
    grid-template-columns: 2fr 0.55fr;

    gap: 50px;

    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
}

.products-title {
    text-align: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

.products-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
    width: calc(100% - 40px);
}

.cart-item {
    width: 700px;

    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr;

    align-items: center;
    gap: 20px;

    padding: 15px 20px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);

    border-radius: 16px;

    border: 1px solid rgba(255, 255, 255, 0.1);
}


.product-card {

    position: relative;

    background: #3a3939;
    border-radius: 25px;
    width: 350px;
    overflow: hidden;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.6),
        0 10px 20px rgba(0, 0, 0, 0.4);

    transition: .3s;
}

.product-card:hover {

    transform: translateY(-8px) scale(1.02);

}

.delete-checkbox {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 20px;
    height: 20px;

    accent-color: #e74c3c;


    opacity: 0;
    pointer-events: none;

    z-index: 5;

    transition: 0.2s;
}

.delete-mode .delete-checkbox {
    opacity: 1;
    pointer-events: auto;
}

.delete-mode .product-card-link {
    pointer-events: none;

}

.delete-mode .delete-checkbox {
    display: block;
}

.delete-selected-btn {
    width: 100%;

    padding: 16px;

    margin: 20px auto;

    background: #e74c3c;


    color: white;
    display: none;
    border-radius: 12px;

    font-size: 16px;
    font-weight: 600;

    transition: 0.2s;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}


.delete-selected-btn:hover {
    transform: scale(1.02);
}

.delete-mode-btn {
    cursor: pointer;

    padding: 10px 18px;

    background: rgba(255, 80, 80, 0.1);
    color: #ff5c5c;

    border-radius: 10px;

    transition: 0.2s;
}


.product-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-content {
    padding: 25px;
    text-align: center;
}

.product-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: wavy;
}

.cart-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-price,
.cart-total {
    text-align: center;
}

.cart-quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.qty-btn {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #444;
    border-radius: 8px;
}

.cart-total-box {
    margin-top: 30px;

    background: rgba(76, 175, 80, 0.1);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;
    color: #09ecbb;


    width: 100%;
}

.filters {
    display: flex;

    align-items: flex-end;

    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.filters select {
    background: #1f1f1f;
    color: #eee;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.filters select:hover {
    border-color: #4caf50;
}

.filters select:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-group label {
    font-size: 12px;
    color: #aaa;
}

input,
textarea,
select {
    background: #121212;
    /* trochę jaśniejsze niż tło */
    color: #eee;

    border: 1px solid #444;
    /* 🔥 KLUCZ */
    border-radius: 8px;

    padding: 10px 12px;
    width: 100%;

    transition: 0.2s;
}
input:focus,
textarea:focus,
select:focus {
    border-color: #4caf50; /* zielony */
    box-shadow: 0 0 6px rgba(76, 175, 80, 0.4);
    outline: none;
}input::placeholder,
textarea::placeholder {
    color: #777;
}

input:focus {
    border-color: #4caf50;
    box-shadow: 0 0 12px rgba(76,175,80,0.6);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #aaa;
    font-size: 13px;
}

input,
textarea {
    margin-bottom: 15px;
}

.cart-total-row {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.cart-title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.checkout-container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    gap: 60px;

    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
}

.checkout-products {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;

}

.checkout-item {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);

    border-radius: 16px;

    border: 1px solid rgba(255, 255, 255, 0.1);

    transition: 0.2s;
}

.checkout-item:hover {
    transform: translateY(-4px);
}

.item-left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.item-right {
    text-align: right;
}

.checkout-total {
    width: 700px;

    text-align: right;

    font-size: 18px;
    margin-top: 10px;
}

.checkout-summary {
    position: sticky;
    top: 100px;

    background: rgba(50, 50, 50, 0.8);
    backdrop-filter: blur(10px);

    padding: 30px;
    border-radius: 20px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.payment-page {
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.loader {
    width: 50px;
    height: 50px;
    border: 4px solid #333;
    border-top: 4px solid #4caf50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px 0;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.buy-btn {
    display: block;
    margin: 20px auto;
}

.payment-icons {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    margin-top: 10px;
}


.payment-icons img {
    width: 80px;
    height: 50px;


    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;


    background: #fff;
    padding: 6px;
    border-radius: 8px;
}


.payment-icons img:hover {
    transform: scale(1.05);
}

.secure-text {
    font-size: 13px;
    color: #aaa;
    margin-top: 15px;
    text-align: center;
}


.product-content a {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.thankyou-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 70vh;

}

.product-content a:hover {
    color: #4CAF50;
}

.thankyou-box {
    text-align: center;

    padding: 40px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);

    border-radius: 20px;

    border: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);

    max-width: 500px;
}

.thankyou-box h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.thankyou-box p {
    opacity: 0.8;
    margin: 5px 0;
}

.back-btn {
    display: inline-block;

    margin-top: 20px;

    padding: 12px 20px;

    background: linear-gradient(135deg, #4CAF50, #3e8e41);

    border-radius: 10px;

    transition: 0.2s;
}

.back-btn:hover {
    transform: scale(1.05);
}


.thankyou-box {
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.thankyou-box {
    margin-top: 60px;
    margin: 0 auto;

    max-width: 500px;
}

.thankyou-wrapper {
    display: flex;
    align-items: center;

    justify-content: center;

    min-height: 70vh;
}


.buy-btn {
    display: block;
    margin: 30px auto;
    padding: 18px 30px;
    border-radius: 12px;
    background: linear-gradient(135deg, #3c3d3c, #5f5d5d);
    color: white;
    border: none;
    transition: 0.2s;
}

.buy-btn:hover {
    background: #4CAF50;
    transform: scale(1.05);
}


.product-page {
    display: flex;
    gap: 40px;
    max-width: 1300px;
    margin: 80px auto;
}

.product-wrapper {
    display: flex;
    gap: 50px;
}


.product-image img {
    width: 420px;
    border-radius: 20px;

    background: #2b2b2b;
    padding: 20px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.6);

    transition: opacity 0.3s ease;
}


.product-info {
    background: rgba(60, 60, 60, 0.6);

    backdrop-filter: blur(8px);

    padding: 30px;
    border-radius: 20px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-sidebar {
    background: rgba(45, 45, 45, 0.9);

    padding: 15px;

    background: #2f2f2f;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

}

.sidebar-item {
    display: flex;

    flex-direction: row;

    gap: 10px;
    align-items: center;

    padding: 8px;

    background: #3a3939;
    border-radius: 10px;

    transition: 0.2s;
}

.sidebar-item img {
    width: 70px;

    height: 50px;

    object-fit: cover;
    border-radius: 8px;
}



.sidebar-item:hover {
    transform: scale(1.03);
}

.sidebar-name {
    font-size: 14px;
    text-align: center;
}

.product-info h1 {
    font-size: 30px;
}

.product-info p {
    opacity: 0.7;
}

.product-info h2 {
    font-size: 28px;
    margin-top: 10px;
}


.variant-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;

}


.variant-box {
    background: #2f2f2f;
    padding: 10px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

    border: 2px solid transparent;
    transition: 0.2s;
}


.variant-box img {
    width: 90px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.variant-box:hover {
    transform: translateY(-5px);
    border-color: #888;
}

.variant-box input {
    display: none;
}


.variant-box:hover {
    transform: translateY(-5px);
    border-color: #888;
}

.variant-box input:checked+img {
    border: 3px solid #4CAF50;
    border-radius: 12px;

}


.payment-dropdown {
    position: relative;
    margin-top: 10px;
    margin: 20px auto;
    max-width: 300px;
}

.dropdown-selected {

    background: #1f1f1f;
    color: #eee;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #444;
    cursor: pointer;
    transition: 0.3s;

}

.dropdown-options {
    background: #2f2f2f;
    border-radius: 10px;
    display: none;
}

.dropdown-selected:hover {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}


.dropdown-options.show {
    display: block;
}

.dropdown-item {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #444;
}







.footer-content {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    font-size: 14px;
    opacity: 0.7;
}

.footer-left span {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 600;
}

.footer-right a {
    padding: 8px 16px;
    border-radius: 8px;

    background: rgba(66, 65, 65, 0.05);
    transition: 0.2s;
}

.footer-right a:hover {
    transform: scale(1.15);
    background: #e74c3c;
}



.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 10px;
}

.toast-success {
    background: #2ecc71;
}

.toast-error {
    background: #e74c3c;
}




.address-container {
    max-width: 900px;

    margin: 100px auto;
    padding: 20px;

    margin-top: 60px;

}


.address-card {
    background: #2f2f2f;

    padding: 25px;
    border-radius: 15px;

    transition: 0.25s;

    border: 1px solid transparent;
}

.address-card:hover {
    transform: translateY(-5px);

    border-color: rgba(255, 255, 255, 0.2);
}

.address-card.selected {
    background: #3f423f;


    border: 3px solid #ffffff;

    box-shadow:
        0 0 15px rgba(250, 250, 250, 0.5),
        0 0 30px rgba(183, 192, 183, 0.2);

    transform: translateY(-5px);
}


.address-card:hover {
    transform: translateY(-5px);
}

.address-card h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.address-card p {
    opacity: 0.8;
    margin-bottom: 5px;
    font-size: 15px;
}

.address-actions {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.address-btn {
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.address-btn:hover {
    background: #4CAF50;
}

.address-btn.delete:hover {
    background: #e74c3c;
}

.address-card.selected {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
}

.add-address-btn {
    display: inline-block;
    margin-bottom: 25px;

    padding: 10px 18px;

    background: #4CAF50;
    color: white;

    border-radius: 10px;
    font-size: 14px;

    transition: 0.2s;
}

.add-address-btn:hover {
    transform: scale(1.05);
    background: #43a047;
}




.add-address-btn {
    margin-bottom: 30px;
}




.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: none;
    border-radius: 8px;

    background: #555;
    color: white;
}

.login-container>div {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);

    text-align: center;

    max-width: 400px;
    width: 100%;
}

.login-container {
    justify-content: center;
    align-items: center;
    margin: 80px auto;

    min-height: 80vh;
}

.rocket {
    position: absolute;

    right: 30px;
    bottom: 120px;

    width: 60px;
    height: 120px;

    background: linear-gradient(#ffffff, #ffffff);
    border-radius: 30px 30px 10px 10px;

    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);

    animation: floatRocket 3s ease-in-out infinite;

    z-index: -1;
}

.rocket::after {
    content: "";

    position: absolute;

    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 20px;
    height: 30px;

    background: radial-gradient(circle, orange, red);
    border-radius: 50%;

    animation: flame 0.3s infinite alternate;
}

.rocket-fin-left,
.rocket-fin-right {
    position: absolute;

    width: 15px;
    height: 30px;

    background: #888;

    bottom: 10px;
}

.rocket-fin-left {
    left: -8px;

    clip-path: polygon(100% 0,
            0 100%,
            100% 100%);
}

.rocket-fin-right {
    right: -8px;

    clip-path: polygon(0 0,
            100% 100%,
            0 100%);
}

@keyframes floatRocket {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.rocket::before {
    content: "";

    position: absolute;

    width: 14px;
    height: 14px;

    left: 50%;
    top: 20px;

    transform: translateX(-50%);

    border-radius: 50%;

    background: #7dd3fc;

    box-shadow:
        0 0 8px #7dd3fc,
        0 0 20px #7dd3fc;

    animation: windowBlink 3s infinite;
}

@keyframes windowBlink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.button-group {
    display: flex;
    gap: 10px;
}

.profile-box {
    width: 100%;
    max-width: 420px;

    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(12px);

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}


.button-group button {
    flex: 1;
    padding: 12px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.2s;
}

.submit {
    background: #4CAF50;
    color: white;
}

.submit:hover {
    background: #43a047;
    color: white;
}

.reset {
    background: #777;
    color: white;
}

.reset:hover {
    background: #555;
}

.register-text {
    text-align: center;
    margin-top: 20px;
}

.register-text a {
    display: inline-block;
    margin-top: 8px;

    padding: 8px 14px;
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.1);
}

.register-text a:hover {

    transform: scale(1.05);
    background-color: #555;
    transition: 0.3s;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }
}

@keyframes shoot {
    0% {
        transform: translateX(-100px) translateY(0) rotate(25deg);
        opacity: 1;
    }

    100% {
        transform: translateX(120vw) translateY(50vh) rotate(25deg);
        opacity: 0;
    }
}

header {
    position: relative;
    z-index: 10;
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(12px);
    padding: 15px 50px;
}

.nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    height: 50px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.nav-link {
    position: relative;
    font-size: 16px;
    opacity: 0.75;
    transition: 0.2s;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.25s;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}


@keyframes moonShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Chrome, Edge, Opera */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #777,
        #d0d0d0
    );

    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to bottom,
        #999,
        #ffffff
    );
}
.color-dots {
    margin-top: 6px;
}

.color-dot[data-color="Biały"] { background: #fff; }
.color-dot[data-color="Czarny"] { background: #000; }
.color-dot[data-color="Cieply"] { background: #d2a679; }
.color-dot[data-color="orzech okapi"] { background: #7a4f2c; }
.color-dot[data-color="63-green"] { background: green; }
.color-dot[data-color="67-blue"] { background: blue; }


.color-dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    border: 2px solid #444;
    cursor: pointer;
    transition: 0.2s;
}

.color-dot:hover {
    transform: scale(1.15);
}

.color-dot.active {
    border: 2px solid #4caf50;
    transform: scale(1.25);
}
.color-dot {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}


/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #111;
}
.color-dot.active {
    border: 2px solid #4caf50;
    transform: scale(1.2);
}

.product-card {
    transition: 0.3s;
}


.product-card {
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.footer {
    position: relative;
    margin-top: auto;
    width: 100%;
    padding: 3%;
    margin-top: 60px;
    height: 120px;
opacity: 0.8;
    border-radius: 50% 50% 0 0;

    background: linear-gradient(to bottom,
            #d0d0d0 0%,
            #9a9a9a 50%,
            #6f6f6f 100%);

    box-shadow: 0 -25px 70px rgba(255, 255, 255, 0.08);

    display: flex;
    align-items: center;
}


.footer-content {
    position: relative;
    z-index: 2;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}


.footer::after {
    content: "";
    position: absolute;
    inset: 0;

    background-image:
        radial-gradient(circle at 20px 30px, rgba(0, 0, 0, 0.15) 0 6px, transparent 7px),
        radial-gradient(circle at 90px 60px, rgba(0, 0, 0, 0.10) 0 10px, transparent 11px),
        radial-gradient(circle at 150px 25px, rgba(0, 0, 0, 0.12) 0 8px, transparent 9px);

    background-size: 180px 100px;
    background-repeat: repeat;

    animation: craterMove 12s linear infinite;

    opacity: 0.7;
    pointer-events: none;
}

@keyframes craterMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(180px);
    }
}


.address-container {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}

.address-card {
    background: #5a5555;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.address-card:hover {
    transform: translateY(-5px);
}

.address-btn {
    padding: 8px 14px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

.address-btn:hover {
    background: #4CAF50;
}

.address-card.selected {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}






.empty-cart {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;

    min-height: 70vh;

}

.empty-btn {
    margin-top: 30px;

    padding: 12px 25px;

    border-radius: 10px;

    background: linear-tr(135deg, #e5e6e5, #dbdddb);

    color: white;
    font-weight: 600;

    transition: 0.2s;
}

.empty-cart::after {
    content: "";
    position: absolute;

    bottom: 180px;

    left: 50%;
    transform: translateX(-50%);

    width: 800px;

    height: 180px;


    background: radial-gradient(ellipse at center,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.06),
            transparent 70%);

    filter: blur(30px);


    pointer-events: none;
}

.planet {
    position: relative;

    width: 140px;
    height: 140px;

    border-radius: 50%;

    margin-top: 30px;

    background:

        radial-gradient(circle at 30% 20%, rgba(255, 255, 255, 0.25), transparent 40%),


        radial-gradient(circle at 65% 70%, #3fa34d 0 25%, transparent 30%),

        radial-gradient(circle at 25% 65%, #2e8b57 0 20%, transparent 25%),


        radial-gradient(circle,
            #3bb2d6,
            #1e7fa3 60%,
            #0b3c52);

    box-shadow:
        inset -20px -30px 40px rgba(0, 0, 0, 0.4),
        0 0 40px rgba(80, 200, 255, 0.4),
        0 0 80px rgba(80, 200, 255, 0.15);

    animation: rotatePlanet 15s linear infinite;
}


@keyframes rotatePlanet {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.planet::before {
    content: "";
    position: absolute;

    top: 15px;
    left: 30px;

    width: 50px;
    height: 30px;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.25);

    filter: blur(10px);
}

.mirjan {
    position: absolute;

    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 30px;

    background: #e74c3c;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;

    box-shadow: 0 0 12px rgba(231, 76, 60, 0.7);

    animation: bounce 0.6s ease-in-out infinite alternate;
}



.planet::after {
    content: "";
    position: absolute;

    inset: -25px;

    border-radius: 50%;

    background: radial-gradient(circle,
            rgba(80, 200, 255, 0.25),
            transparent 70%);

    filter: blur(25px);
}

@keyframes bounce {
    from {
        transform: translateX(-50%) translateY(0);
    }

    to {
        transform: translateX(-50%) translateY(-15px);
    }
}

@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(0) scale(1);
    }

    100% {
        transform: translateX(-50%) translateY(-15px) scale(1.05);
    }
}


.planet-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 140px;

    margin: 40px auto;

    position: relative;

    margin: 40px 0;
}



.empty-btn:hover {
    transform: scale(1.05);
}

.empty-cart h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.empty-cart h2 {
    font-size: 28px;
    opacity: 0.8;
}

.empty-cart p {
    margin-top: 10px;
    opacity: 0.6;
}

.cart-table {
    width: 100%;

    max-width: 700px;

    border-collapse: separate;
    border-spacing: 0 15px;
}



.cart-table tbody tr {

    background: rgba(50, 50, 50, 0.55);

    backdrop-filter: blur(20px);


    -webkit-backdrop-filter: blur(15px);


    border-radius: 16px;

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.5);

    border: 1px solid rgba(255, 255, 255, 0.08);

    transition: 0.25s;
}


.cart-table tbody tr:hover {
    transform: translateY(-4px);

    border-color: rgba(255, 255, 255, 0.15);
}



.cart-table td {
    padding: 20px;
    border: none;
}

.cart-image {
    width: 80px;
    border-radius: 10px;
}

.cart-product-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    width: 30px;
    height: 30px;

    border-radius: 6px;
    background: #555;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}

.qty-btn:hover {
    background: #777;
}


.cart-total-box {
    margin-top: 30px;

    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);

    padding: 20px 25px;

    border-radius: 16px;

    max-width: 420px;

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart-summary {
    max-width: 500px;
    margin: 0 auto;

    background: #2f2f2f;

    padding: 30px;
    border-radius: 20px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.6);
}

.view-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    min-height: 70vh;
    position: relative;
}

.view-page h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.view-page h2 {
    font-size: 28px;
    opacity: 0.8;
}

.view-page p {
    margin-top: 10px;
    opacity: 0.6;
}


.create-product-container {
    max-width: 900px;
    margin: 50px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


.create-product-container h2 {
    margin-bottom: 20px;
    text-align: center;
}


.create-product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.create-product-form label {
    font-weight: bold;
    margin-bottom: 5px;
}


.create-product-form input,
.create-product-form textarea,
.create-product-form select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}


.create-product-form textarea {
    resize: vertical;
    min-height: 100px;
}


.create-product-form button {
    padding: 12px;
    background: #2d89ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.create-product-form button:hover {
    background: #1b5fcc;
}

.admin-product-wrapper {
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
}

.product-form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preview-image {
    width: 100%;
    max-width: 500px;

    border-radius: 20px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.6);
}

.left-panel input[type="file"] {
    padding: 10px;
    border-radius: 8px;
    background: #333;
    color: white;
}

.right-panel {
    background: rgba(50, 50, 50, 0.6);
    backdrop-filter: blur(10px);

    padding: 30px;
    border-radius: 20px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group input,
.form-group textarea {
    padding: 10px;

    border-radius: 8px;
    border: none;

    background: #2f2f2f;
    color: white;

    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: 2px solid #4CAF50;
}

.variant-card {
    background: #2a2a2a;
    padding: 15px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.variant-card input {
    padding: 8px;
    border-radius: 6px;
    border: none;

    background: #3a3939;
    color: white;
}

.save-btn {
    margin-top: 20px;

    padding: 14px;
    border-radius: 12px;

    background: linear-gradient(135deg, #4CAF50, #3e8e41);

    color: white;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s;
}

.save-btn:hover {
    transform: scale(1.03);
}

.preview-image {
    width: 100%;
    max-width: 350px;


    height: auto;

    border-radius: 15px;

    object-fit: cover;

    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.6);
}

.edit-product-image {
    width: 100%;
    max-width: 350px;


    height: auto;

    border-radius: 15px;

    object-fit: cover;

    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.6);
}

body .czarny button {
    grid-column: 2;

    width: fit-content;

    padding: 12px 20px;
    border-radius: 10px;

    background: #4CAF50;
    color: white;

    cursor: pointer;
}

body .czarny input,
body .czarny textarea {
    max-width: 600px;


    background: #2f2f2f;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 12px;
}

body .czarny form .form-group {
    grid-column: 2;
}

.edit-product-image img {
    width: 300px;
    height: 220px;

    object-fit: cover;

    border-radius: 15px;

    box-shadow:

        0 15px 30px rgba(0, 0, 0, 0.6);
}

.edit-layout {
    display: grid;
    grid-template-columns: 1.2fr 1fr;

    gap: 40px;

    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
}

.left-panel {
    background: rgba(50, 50, 50, 0.6);

    backdrop-filter: blur(10px);

    padding: 25px;
    border-radius: 20px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.input-edit {
    width: 100%;
    max-width: 500px;

    padding: 12px;

    border-radius: 10px;
    border: none;

    background: #2f2f2f;
    color: white;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;

    margin-bottom: 20px;
}

.edit-product-image {
    width: 280px;
    height: 180px;

    object-fit: cover;

    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.file-label {
    display: inline-block;

    padding: 10px 18px;

    background: #3a3939;
    color: white;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;
}

#fileName {
    margin-left: 10px;
    opacity: 0.7;
    font-size: 14px;
}

.save-btn {
    margin-top: 20px;

    padding: 12px 20px;
    border-radius: 10px;

    background: linear-gradient(135deg, #4CAF50, #3e8e41);

    color: white;
    cursor: pointer;
}

.right-panel {
    background: rgba(45, 45, 45, 0.9);

    padding: 25px;
    border-radius: 20px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);

    height: fit-content;
}

.variant-section {
    margin-bottom: 20px;
}

.color-option {
    display: block;

    padding: 6px 10px;
    border-radius: 8px;

    background: #3a3939;
    margin-bottom: 5px;

    cursor: pointer;
}

.variant-preview {
    margin-top: 20px;

    background: #2a2a2a;
    padding: 15px;

    border-radius: 15px;

    text-align: center;
}

.variant-preview-img {
    width: 200px;
    height: 150px;

    object-fit: cover;

    border-radius: 12px;

    margin-bottom: 10px;
}

.add-option-btn {
    margin-top: 10px;

    padding: 10px;

    border-radius: 8px;

    background: #555;
    color: white;
}

.cart-container {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
    width: 100%;
}

.cart-layout {
    display: grid;
    grid-template-columns: 1.8fr 1fr;

    gap: 60px;
    justify-content: center;
}

.cart-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cart-table {

    border-spacing: 0 20px;

    width: 100%;
    max-width: 850px;

}

.cart-table tbody tr {
    background: #3a3939;
    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

    transition: 0.2s;
}

.cart-table tbody tr:hover {
    transform: translateY(-2px);
}

.cart-table tbody tr {
    background: #3a3939;
    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

    transition: 0.2s;
}

.cart-total-box {
    margin-top: 30px;

    background: #2a2a2a;
    padding: 25px;

    border-radius: 20px;

    max-width: 400px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);

    align-self: flex-start;
}

.buy-btn {
    border-radius: 12px;

    background: linear-gradient(135deg, #4CAF50, #3e8e41);

    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.4);

    transition: 0.2s;
}

.buy-btn:hover {
    transform: scale(1.05);
}


.cart-total-row {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;
    justify-content: space-between;
}


.cart-summary {
    position: sticky;

    top: 100px;

    background: rgba(45, 45, 45, 0.9);

    padding: 30px;
    border-radius: 20px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);

}

.summary-box {
    display: flex;
    flex-direction: column;
    gap: 8px;

    opacity: 0.85;
}

.cart-summary .buy-btn {
    margin-top: 20px;
    width: 100%;

    background: linear-gradient(135deg, #4CAF50, #3e8e41);
}

.cart-total-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px;
}


.clear-cart-btn {
    margin-top: 15px;

    display: block;
    text-align: center;

    padding: 10px;

    background: rgba(255, 80, 80, 0.1);
    color: #ff5c5c;

    border-radius: 10px;

    transition: 0.2s;
}

.cart-item {
    transition: 0.25s;
}

.cart-item:hover {
    transform: translateY(-5px);
}


.clear-cart-btn:hover {
    background: #e74c3c;
    color: white;

    transform: scale(1.05);
}

.cart-total-row strong {
    font-size: 20px;
}


.cart-total-box {

    background: rgba(50, 50, 50, 0.55);

    backdrop-filter: blur(12px);

    border-radius: 16px;

    border: 1px solid rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.08);
}

.cart-products {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 800px;
}


.cart-items {
    width: 100%;
}

.cart-item {
    width: 100%;

}



.login-container>div {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);

    text-align: center;

    max-width: 400px;
    width: 100%;
}

.login-container p {
    margin-bottom: 10px;
    opacity: 0.9;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;
}

.profile-btn {
    padding: 10px;

    border-radius: 10px;

    background: linear-gradient(135deg, #4CAF50, #3e8e41);
    color: white;

    text-align: center;

    transition: 0.2s;
}

.profile-btn:hover {
    transform: scale(1.05);
    background: #3e8e41;
}

.profile-btn.secondary {
    background: rgba(255, 255, 255, 0.1);
}